.nav {
    background-color: #7F3FBF;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.inputContainer {
    position: relative;
    display: flex;
    align-items: center;
}

.searchIcon {
    position: absolute;
    right: 10px;
    width: 20px;
    height: 20px;
}

.person {
    cursor: pointer;
}

.sino {
    cursor: pointer;
}

.buscarPessoa {
    padding: 8px;
    border-radius: 8px;
    border: none;
    outline: none;
    margin-left: 50px;
}

.buscarPessoa::placeholder {
    color: #7F3FBF;
    font-size: 15px;
}

.btnAddPessoa {
    color: #7F3FBF;
    background-color: #fff;
    border: none;
    padding: 6px;
    width: 200px;
    height: 40px;
    border-radius: 10px;
    font-weight: 500;
    cursor: pointer;
    transition: .5s;
}

.btnAddPessoa:hover {
    transform: scale(1.1);
    transition: .5s;
}

.navDir {
    margin-right: 50px;
    display: flex;
    align-items: center;
    gap: 50px;
}

main {
    display: flex;
}

.divContatos {
    width: 18%;
    height: 89.2vh;
    border: 3px solid #7F3FBF;
    overflow-y: auto; 
    overflow-x: hidden; 
    box-sizing: border-box;
}

.divContatos::-webkit-scrollbar {
    width: 10px; 
}

.divContatos::-webkit-scrollbar-track {
    background: #e0e0e0; 
    border-radius: 10px;
}

.divContatos::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, #7F3FBF, #5A2E91); 
    border-radius: 10px;
    transition: background 0.3s ease-in-out;
}

.divContatos::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(180deg, #5A2E91, #3F1F5F); 
}

.divConversa {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 81.89%;
    align-items: center;
    gap: 30px;
}

.requestsModal {
    position: absolute;
    background-color: #7F3FBF;
    color: #fff;
    height: 200px;
    width: 400px;
    left: 72%;
    animation: slideUp 0.5s ease-out forwards; 
    overflow-y: scroll;
    border-radius: 0 0 10px 10px;
}

.requestsModal h2 {
    color: #fff;
    font-size: 18px;
    margin-top: 10px;
    text-align: center;
}

.requestsModal div {
    padding: 5px;
    margin-left: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    border-top: 2px solid #fff;
}

.requestsModal div button {
    width: 200px;
    margin: 0 auto;
    padding: 10px;
}

.PerfilModal {
    position: absolute;
    background-color: #7F3FBF;
    color: #fff;
    height: 90px;
    width: 250px;
    left: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    animation: slideUp 0.5s ease-out forwards;
    border-radius: 0 0 10px 10px;
}

.nameUSer {
    border: none;
    position: relative;
    top: 10px;
} 

.PerfilModal div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.perfil {
    border-right: 2px solid #fff;
    padding: 5px 15px 5px 5px;
    cursor: pointer;
}

.btnLogout {
    cursor: pointer;
    display: flex;
    align-items: center;
    /* padding: 5px; */
    /* height: 50px; */
    /* width: 90px; */
    /* border: 1px solid #7F3FBF; */
    border: none;
    /* background-color: #fff; */
}

.btnLogout img {
    background-color: #7F3FBF;
    border: none;
    padding-left: 15px;
}

.paragrafoModal {
    font-size: 15px;
    margin-top: 14%;
    margin-left: 9%;
}

.btnSolicitacao {
    background-color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: .3s;
    color: #7F3FBF;
    font-weight: 500;
}

.btnSolicitacao:hover {
    transform: scale(1.1);
    transition: .3s;
}

.requestsModal div {
    display: flex;
    margin-top: 13px;
    gap: 20px;
}

.notificacao {
    position: absolute;
    top: 50px;
    right: 150px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 5px;
    height: 10px;
    width: 10px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.divAtivada {
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 81.89%;
    align-items: center;
    gap: 30px;
    margin: 10px 20px 10px 20px;
}

.divConversa p {
    color: #7F3FBF;
    font-size: 18px;
}

.divConversa img {
    height: 230px; 
}

.inputMensagem {
    border: 2px solid #7F3FBF;
    border-radius: 10px;
    padding: 14px;
    width: 1200px;
    outline: none;
}

.btnEnviar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #7F3FBF;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 10px; 
    overflow: hidden; 
}

.btnEnviar img {
    width: 20px;
    height: 20px;
}

.messagesContainer {
    width: 100%;
    height: 65%;
    text-align: end;
    justify-content: end;
    align-items: end;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.chatBox {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

.triangulo {
    background-color: #D9D9D9;
    width: 20px;
    height: 20px;
    position: relative;
    top: 50px;
    left: 296px;
    transform: rotate(45deg);
}

.trianguloDir {
    background-color: #D9D9D9;
    width: 20px;
    height: 20px;
    position: relative;
    top: 50px;
    right: 36px;
    transform: rotate(45deg);
}

.nameuser {
    position: relative;
    right: 290px;
    bottom: 30px;
}

.nameuserDir {
    position: relative;
    right: 290px;
    bottom: 30px;
}

.message {
    margin-top: 30px;
    padding: 40px;
    width: 280px;
    background-color: #D9D9D9;
}

.messageDir {
    margin-right: 70%;
    margin-top: 30px;
    padding: 40px;
    width: 280px;
    background-color: #D9D9D9;
}

.enviarMensagem {
    display: flex;
    gap: 30px;
    position: relative;
}

.requestsModal.show, .PerfilModal.show {
    transform: translateY(0); 
    opacity: 1;
}

@keyframes slideUp {
    from {
      transform: translateY(-10%); 
      opacity: 0;
    }
    to {
      transform: translateY(0); 
      opacity: 1;
    }
}

@media (min-width: 1400px) {
    .divAtivada {
        width: 76%;
    }

    .inputMensagem {
        width: 1050px;
        outline: none;
    }
}